# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Database Fallbacks
database/blood_bank.db
outputs/*.pdf
outputs/*.csv

# OS-specific
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
